<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 | Página no encontrada</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >

</head>
<body>
<section class="hero is-fullheight is-light">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1 has-text-danger">404</h1>
            <p class="subtitle is-4">¡Oops! La página que buscas no existe.</p>
            <a href="/" class="button is-primary is-large">Volver al inicio</a>
        </div>
    </div>
</section>
</body>
</html>